/* Custom Stylesheet */
body, html {
  font-family: 'Goudy Bookletter 1911', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background:#96754A;
  text-align: center;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body .header {
  color: rgba(0, 0, 0, 0);
  font-size: 5em;
  text-shadow: .05em .05em .2em #000;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  display: block;
  position: relative;
}
body .header:hover {
  color: #F7F4F0;
  text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.5);
  cursor:pointer;
}
section {
  margin-top: .2em;
  display: none;
}

section a{
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  filter: blur(1.8px);
  -webkit-filter: blur(1.8px);
  -moz-filter: blur(1.8px);
  -o-filter: blur(1.8px);
  -ms-filter: blur(1.8px);
}
section a:hover{
  opacity: 1.0;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}

a {
  text-decoration: none;
  color:inherit;
}

.logo {
  margin: -20px 0 0 -50px;
  width: 300px;
  height: 100px;
  background: rgba(149, 116, 73, 0.25);
  left: 0;
  position: absolute;
  border-radius: 15px;
  z-index: 10;
}
.logo img {
  margin: 40px 0 0 50px;
  width: 200px;
  height: 40px;
  position: relative;
  z-index: 11;
}

.prev{
  left: 2em;
  position: absolute;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  cursor:pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}
.prev:hover{
  opacity: 1.0;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}
.next{
  right: 2em;
  position: absolute;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  cursor:pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}
.next:hover{
  opacity: 1.0;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}

footer {
    font-family: "Goudy Bookletter 1911";
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 30px;
}
footer h5 {
    text-transform: lowercase;
    font-size: 1.2em;
    margin: 0 0 0 20px;
    float: left;
}
footer p {
    font-size: .8em;
    font-style: italic;
    margin: 0 20px 0 0;
    float: right;
}

html {
min-height: 100%;
    }
body {
  padding: 0;
  position: relative;
  margin: 0;
  min-height: 100%;
}

.dd body {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.dd .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.dd .ibg-bg {
  position: absolute;
}

h1.about{
  position: relative;
  font-size: 2.75em;
  text-align: center;
  margin-top: 3%;
  padding: 1em;
}
h3.about{
  position: relative;
  font-size: 2em;
  text-align: center;
  padding: 1em 0 .5em 0;
}
p.about {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2em;
  padding-bottom: 20px;
  line-height: 150%;
}

.main {
    position: relative;
    padding: 1em;
    width: 70%;
    margin: 0 auto 5em;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    background: rgba(88, 53, 21, 0.5);
    border-radius: 15px;
}
.main img{
  padding: 0 0 1em;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
